{% extends "layout.html" %}

{% block page_heading %}
Add Expense Bill
{% endblock %}

{% block settings_content %}

<form method="post"
      enctype="multipart/form-data">

{% csrf_token %}

<div class="card border-0 shadow-sm rounded-4">

    <div class="card-body">

        <div class="row g-3">

            <div class="col-md-3">
                <label>Bill No</label>
                <input type="text"
                       name="bill_no"
                       class="form-control"
                       required>
            </div>

            <div class="col-md-4">
                <label>Supplier</label>
                <input type="text"
                       name="supplier"
                       class="form-control">
            </div>

            <div class="col-md-3">
                <label>Bill Date</label>
                <input type="date"
                       name="bill_date"
                       class="form-control">
            </div>

            <div class="col-md-2">
                <label>Attachment</label>
                <input type="file"
                       name="attachment"
                       class="form-control">
            </div>

        </div>

    </div>

</div>

<br>

<div class="card border-0 shadow-sm rounded-4">

    <div class="card-header bg-white">

        <button type="button"
                onclick="addRow()"
                class="btn btn-primary">

            Add Item

        </button>

    </div>

    <div class="card-body">

        <table class="table">

            <thead>
                <tr>
                    <th>Item</th>
                    <th width="150">Qty</th>
                    <th width="180">Price</th>
                </tr>
            </thead>

            <tbody id="items">

            </tbody>

        </table>

    </div>

</div>

<br>

<button class="btn btn-success">
    Save Bill
</button>

</form>

<script>

function addRow(){

    let html = `
    <tr>

        <td>
            <input
                name="item_name[]"
                class="form-control"
                required>
        </td>

        <td>
            <input
                type="number"
                step="0.01"
                name="qty[]"
                class="form-control"
                required>
        </td>

        <td>
            <input
                type="number"
                step="0.01"
                name="price[]"
                class="form-control"
                required>
        </td>

    </tr>
    `;

    document
        .getElementById("items")
        .insertAdjacentHTML(
            "beforeend",
            html
        );
}

addRow();

</script>

{% endblock %}