<div class="modal fade" id="editNoteModal{{ n.id }}">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">

      <form method="post" action="{% url 'note_edit' n.id %}">
        {% csrf_token %}

        <div class="modal-header">
          <h5 class="modal-title">Edit Notes</h5>

          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">

          <div class="mb-2">

            <label class="form-label small text-muted">
              Notes
            </label>

            <textarea
              class="form-control"
              name="notes"
              rows="5"
              placeholder="Note">{{ n.notes }}</textarea>

          </div>

        </div>

        <div class="modal-footer">

          <button type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal">
            Cancel
          </button>

          <button type="submit"
                  class="btn btn-primary">
            Update
          </button>

        </div>

      </form>

    </div>
  </div>
</div>