{% extends "base.html" %}
{% load static %}

{% block title %}Patients{% endblock %}

{% block style %}

.patient-card{
    border-radius:14px;
    transition:0.2s;
}

.patient-card:hover{
    transform:translateY(-4px);
    box-shadow:0 8px 20px rgba(0,0,0,0.08);
}



.patient-id{
    font-size:13px;
    color:#777;
}

{% endblock %}

{% block content %}

<div class="container py-4">

<h3 class="mb-4">Patient List</h3>

<!-- Search -->
<form method="get" class="row g-2 mb-4">
    <div class="col-md-10 col-8">
        <input type="text"
               name="q"
               class="form-control"
               placeholder="Search by Name, Phone or Email"
               value="{{ query }}">
    </div>

    <div class="col-md-2 col-4 d-grid">
        <button class="btn btn-primary">Search</button>
    </div>
</form>


<!-- Patient Cards -->
<div class="row g-4">

{% for patient in page_obj %}

<div class="col-xl-4 col-lg-4 col-md-6 col-12">

<div class="card patient-card h-100">

<div class="row g-0 align-items-center">

<!-- IMAGE -->
<div class="col-md-4 text-center p-2">

{% if patient.image_path %}
<img src="{{ patient.image_path.url }}" 
     class="img-fluid rounded-start patient-photo">
{% else %}
<img src="{% static 'images/patient.png' %}" 
     class="img-fluid rounded-start patient-photo">
{% endif %}

</div>

<!-- INFO -->
<div class="col-md-8">

<div class="card-body pt-2 pb-2">

<h6 class="fw-semibold mb-1">
{{ patient.name }}
</h6>

<div class="patient-id mb-1">
ID : {{ patient.patient_id }}
</div>

<div class="small text-muted mb-1">
{{ patient.gender }} | Age {{ patient.age }}
</div>

<div class="small mb-1">
<i class="bi bi-telephone"></i> {{ patient.phno }}
</div>

<div class="small text-muted text-truncate">
<i class="bi bi-envelope"></i> {{ patient.email }}
</div>
<div class="small text-muted text-truncate">
<i class="bi bi-person-vcard-fill"></i> Adhaar ID: {{ patient.aadhaar_id }}
</div>

</div>

<!-- ACTIONS -->
<div class="card-footer bg-white border-0 pt-0 pb-2">

<a href="{% url 'patient_profile' patient.patient_id %}" 
   class="btn btn-sm btn-primary">
<i class="bi bi-eye"></i>
</a>

<button class="btn btn-sm btn-warning"
        data-bs-toggle="modal"
        data-bs-target="#editPatientModal{{ patient.patient_id }}">
<i class="bi bi-pencil"></i>
</button>

<button class="btn btn-danger btn-sm"
        data-bs-toggle="modal"
        data-bs-target="#deletePatientModal{{ patient.patient_id }}">
    <i class="bi bi-trash"></i>
</button>

</div>

</div>

</div>

</div>

</div>

<!-- DELETE MODAL -->
<div class="modal fade" id="deletePatientModal{{ patient.patient_id }}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <form method="POST" action="{% url 'delete_patient' patient.patient_id %}">
                {% csrf_token %}

                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title">
                        <i class="bi bi-exclamation-triangle me-2"></i>
                        Confirm Delete
                    </h5>
                    <button type="button" class="btn-close btn-close-white"
                            data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body text-center">

                    <div class="mb-3">
                        <i class="bi bi-trash fs-1 text-danger"></i>
                    </div>

                    <h6>Are you sure?</h6>
                    <p class="text-muted mb-0">
                        You are about to delete
                        <strong>{{ patient.name }}</strong>.
                    </p>

                    <small class="text-danger">
                        This action cannot be undone.
                    </small>

                </div>

                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-light"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>

                    <button type="submit" class="btn btn-danger">
                        Yes, Delete
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>

<!-- EDIT MODAL -->
<div class="modal fade" id="editPatientModal{{ patient.patient_id }}">
<div class="modal-dialog modal-lg modal-dialog-centered">
<div class="modal-content">

<form method="post" action="{% url 'edit_patient' patient.patient_id %}" enctype="multipart/form-data">
{% csrf_token %}

<div class="modal-header">
<h5 class="modal-title">Edit Patient</h5>
<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body">

<div class="row g-3">

<!-- IMAGE SECTION -->
<div class="col-md-4 text-center">

    <div id="editPreviewBox{{ patient.patient_id }}"
         style="width:100%;min-height:150px;background:#f5f5f5;
         display:flex;align-items:center;justify-content:center;
         border-radius:10px;overflow:hidden;">

        {% if patient.image_path %}
            <img src="{{ patient.image_path.url }}" 
                 style="width:100%;height:auto;">
        {% else %}
            <span class="text-muted">No Image</span>
        {% endif %}
    </div>

    <input type="file"
           name="image_file"
           class="form-control mt-2 editImageInput"
           data-id="{{ patient.patient_id }}">

</div>

<!-- FORM FIELDS -->
<div class="col-md-8">

<div class="row g-3">

<div class="col-md-6">
<label>Name</label>
<input type="text" name="name" value="{{ patient.name }}" class="form-control">
</div>

<div class="col-md-6">
<label>Email</label>
<input type="email" name="email" value="{{ patient.email }}" class="form-control">
</div>

<div class="col-md-3">
<label>Age</label>
<input type="number" name="age" value="{{ patient.age }}" class="form-control">
</div>

<div class="col-md-3">
<label>Gender</label>
<select name="gender" class="form-select">
<option value="Male" {% if patient.gender == "Male" %}selected{% endif %}>Male</option>
<option value="Female" {% if patient.gender == "Female" %}selected{% endif %}>Female</option>
<option value="Other" {% if patient.gender == "Other" %}selected{% endif %}>Other</option>
</select>
</div>

<div class="col-md-6">
<label>Phone</label>
<input type="text" name="phno" value="{{ patient.phno }}" class="form-control">
</div>

<div class="col-md-6">
<label>Aadhaar</label>
<input type="text" name="aadhaar_id" value="{{ patient.aadhaar_id }}" class="form-control">
</div>

<div class="col-md-6">
<label>Country</label>
<input type="text" name="country" value="{{ patient.country }}" class="form-control">
</div>

<div class="col-md-6">
<label>State</label>
<input type="text" name="state" value="{{ patient.state }}" class="form-control">
</div>

<div class="col-md-8">
<label>Address</label>
<input type="text" name="address" value="{{ patient.address }}" class="form-control">
</div>

<div class="col-md-4">
<label>Pincode</label>
<input type="text" name="pincode" value="{{ patient.pincode }}" class="form-control">
</div>

</div>
</div>

</div>
</div>

<div class="modal-footer">
<button class="btn btn-primary">Update</button>
</div>

</form>

</div>
</div>
</div>

{% empty %}

<div class="col-12 text-center text-muted py-5">
No patients found
</div>

{% endfor %}

</div>

<script>
    document.querySelectorAll(".editImageInput").forEach(input => {

    input.addEventListener("change", function(e){
        const file = e.target.files[0];
        if(!file) return;

        const patientId = this.getAttribute("data-id");
        const previewBox = document.getElementById("editPreviewBox" + patientId);

        const reader = new FileReader();
        reader.onload = function(evt){
            previewBox.innerHTML = `<img src="${evt.target.result}" 
                style="width:100%;height:auto;">`;
        };
        reader.readAsDataURL(file);
    });

});
</script>
{% endblock %}
